.step-item {
    @apply relative flex flex-col justify-center items-center w-44 md:w-36 rotate-90  md:rotate-0 ;

  }
  .step-item:not(:first-child):before {
    @apply content-[''] bg-slate-300 absolute w-full h-[1.2px] right-2/4 top-[1/2] -translate-y-2/4;
  }
  .step {
    @apply w-3 h-3 flex items-center justify-center z-10 relative bg-slate-400 rounded-full font-semibold text-white;
  }
  .active .step {
    @apply  bg-green-600 ease-in-out ;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  .complete .step {
    @apply bg-green-600;

  }
  .complete p {
    @apply text-gray-700 rotate-90  md:rotate-0;

  }
  .step-item p {
    @apply text-gray-700  -rotate-90 md:rotate-0 my-8 md:m-0;
  }
  .active p {
    @apply text-gray-700  -rotate-90 md:rotate-0 my-8 md:m-0;
  }
  .last .step{
    animation: none;
  } 


  .complete:not(:first-child):before,
  .active:not(:first-child):before {
    @apply bg-green-600;
  }
  
  @keyframes pulse {
    0%,

    50% {
        opacity: 0.6;
        @apply bg-gray-400;
    }
    100% {
      opacity: 1;
    }
  }
